<div class="content-sm">
    <h1>Sign In</h1>
    <hr>
    <%=render partial: "form", locals: {user: @user}%>
    <br>
    <h4>Or... <br> <%= link_to " Sign in with Facebook", '/auth/facebook', class: 'btn btn-primary fab fa-facebook-square' %></h4>
    
</div>